header {
  background-color: #0077b6;
  padding: 1rem;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2rem;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.section-padding {
  padding: 2rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f1f1f1;
  margin-top: 50px;
}
